{% extends 'ProjetL3GroupeBundle:Groupe:base_change_groupe.html.twig' %}

{% block body %}

    <h1>Ajout d'utilisateurs au groupe {{ entity.nom }}</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('groupe_show_members', {id : entity.id}) }}">
                Retour à la liste des membres du groupe
            </a>
        </li>
    </ul>

{% endblock %}