{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Groupe list</h1>
    {% if app.user.groupes|length!=0 %}
    <table class="records_list">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% if entity in app.user.groupes %}
            <tr>
                <td>{{ entity.nom }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('groupe_show', { 'id': entity.id }) }}">Afficher</a>
                    </li>
                    {% if app.user in entity.admins %}
                    <li>
                        <a href="{{ path('groupe_edit', { 'id': entity.id }) }}">Modifier le nom</a>
                    </li>
                    {% endif %}
                </ul>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
        <ul>
        <li>
            <a href="{{ path('groupe_new') }}">
                Créer un nouveau groupe
            </a>
        </li>
    </ul>
    {% endblock %}
